<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.21.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.21.0/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyAqjEH6N566X0ih8z80n6q-2xCMOyrkHxY",
    authDomain: "mark-blog-a2235.firebaseapp.com",
    projectId: "mark-blog-a2235",
    storageBucket: "mark-blog-a2235.appspot.com",
    messagingSenderId: "340892635779",
    appId: "1:340892635779:web:ce87081fc7c82487b901b6",
    measurementId: "G-BLN5N3LW91"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>