<div class="common-content">
  <h4 class="portfolio-title">{{ page.title }}</h4>
  <div class="photo-gallery">
    {% for image in page.images %}
    <div class="photo-gallery-item">
      <div class="photo-gallery-item-container">
        <canvas
          class="image-placeholder"
          width="550"
          height="{{image.height}}"
          style="background-color: rgba(221, 220, 220, 0.7)"
        ></canvas>
        <img src="{{ image.image_path }}" class="lazyload img-lazyload" />
      </div>
    </div>
    {% endfor %}
  </div>
</div>