<nav class="normal">
  <a href="/" class="logo">
    Mark Chu
  </a>
  <a href="/" id="nav-home">home</a>
  <a href="/memories" id="nav-memory">memory</a>
  <a href="/portfolio" id="nav-portfolio">portfolio</a>
  <a href="/about" id="nav-about">about</a>
</nav>
<nav class="normal link">
  <a href="https://www.flickr.com/photos/pacoirene/">Flickr</a>
  <a href="https://github.com/PacoIrene">Github</a>
  <a href="https://www.douban.com/people/tiwknowswhy/">Douban</a>
  <a href="https://www.instagram.com/mark_prufrock/">Instagram</a>
</nav>
<nav class="device">
  <a href="/" class="logo">
    Mark Chu
  </a>
  <div id="menu-button"></div>
</nav>
<ul id="device-menu-list">
  <li><a href="/">home</a></li>
  <li><a href="/memories">memory</a></li>
  <li><a href="/portfolio">portfolio</a></li>
  <li><a href="/about">about</a></li>
</ul>
