<nav class="normal">
  <a href="/">
    <img src="{{ "/assets/images/logo.png" | relative_url }}" alt="">
  </a>
  <a href="/" id="nav-home">home</a>
  <a href="/memories" id="nav-memory">memory</a>
  <a href="/about" id="nav-about">about</a>
</nav>
<nav class="normal link">
  <a href="https://www.flickr.com/photos/pacoirene/">Flickr</a>
  <a href="https://www.douban.com/people/tiwknowswhy/">Douban</a>
  <a href="https://www.instagram.com/mark_prufrock/">Instagram</a>
</nav>
<nav class="device">
  <a href="/">
    <img src="/assets/images/white_logo.png" alt="">
  </a>
  <div id="menu-button"></div>
</nav>
<ul id="device-menu-list">
  <li><a href="/">home</a></li>
  <li><a href="/film">film</a></li>
  <li><a href="/memories">memory</a></li>
  <li><a href="/about">about</a></li>
</ul>
