.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.5rem;
  padding: 1.5rem 0 0;
  font-size: 0.75rem;
  span.arrow {
    color: #999;
  }
  .pagination-current {
    color: #333;
  }
}
