.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.5rem;
  padding: 1.5rem 0.5rem 0;
  border-top: 1px solid #eee;
  font-size: 0.75rem;
  span.arrow {
    color: #999;
  }
  .pagination-current {
    color: #333;
  }
}

.pagination.content-pagination {
  border: none;
}
