---
layout: no-margin
---
<article class="poetry">
  <div style="font-style: italic">
    <p>Je contemple d'en haut le globe en sa rondeur</p>
    <p>Et je n'y cherche plus l'abri d'une cahute.</p>
    <p class="right">— Charles Baudelaire</p>
    <br>
    <br>
    <br>
    <br>
    <p>I grow old ... I grow old ...</p>
    <p>I shall wear the bottoms of my trousers rolled.</p>
    <br>
    <p>Shall I part my hair behind?   Do I dare to eat a peach?</p>
    <p>I shall wear white flannel trousers, and walk upon the beach.</p>
    <p>I have heard the mermaids singing, each to each.</p>
    <br>
    <p>I do not think that they will sing to me.</p>
    <p class="right">— T. S. Eliot</p>
  </div>
</article>
